<!DOCTYPE html>
<html ng-app="epBlog">

<head>
  <title>Journey to Denying Myself</title>
  <meta property="og:title" content="Journey to Denying Myself"/>
  <meta property="og:description" content="My first taste of adulthood. A time when you're supposed to learn how to rely on yourself and become self-sufficient, at least according to the world. That summer of 2014, though, I met a different view of adulthood. A view in which I realized my life is not my own. It was given me. And with adulthood and maturity in this journey of friendship with Jesus, I realized a mature faith is one in which we are willing to give up even the good things we have been given. For love's sake be made poor by our own will."/>
  <meta property="og:image" content="https://storage.googleapis.com/blog.erikpintar.com/imgs/fog_golden_gate.jpg"/>

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="css/lib/reset.css">
  <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/lib/opensans.css">
  <link rel="stylesheet" type="text/css" href="css/utils.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/blog.css">

  <!-- SCRIPTS AT BOTTOM -->

</head>

<body ng-controller="BlogEntryController">

  <h1 id="blog-header"><a href="javascript:window.location.href = './index.html';">Erik Pintar's Blog</a></h1>

  <div class="blog-entry">
    <h1 class="entry-title">Journey to Denying Myself</h1>
    <h2 ng-if="curBlog.subtitle" class="entry-subtitle">How I Got To Know God Like A Friend: Part Four</h2>
    <h3 class="entry-date">March 14, 2017</h3>

    <div class="center-children">

      <div ng-show="pageNum == 0" class="prose-container">

        <h2>Owning An Adulthood Not My Own</h2>

        <p>It was my first time living independently. My first taste of adulthood. A time when you're supposed to learn how to rely on yourself and become self-sufficient, at least according to the world.</p>

        <p>That summer of 2014, though, I met a different view of adulthood.</p>

        <p>A view in which I realized my life is not my own. It was given me. And with adulthood and maturity in this journey of friendship with Jesus, I realized a mature faith is one in which we are willing to give up even the good things we have been given. For love's sake be made poor by our own will.</p>

        <p>I saw this transition also as a spiritual frontier, an opportunity for almost unbounded self-growth and discovery - a freedom to follow hard after God with no boxed-in expectations, moving past childish notions of faith.</p>

        <p>I won't deny though - it was scary, it caused apprehension, entering into an internship in San Francisco across the country. Living in an quasi-legal Airbnb with people I didn't know in a city I didn't know.  My first 9-to-5 job (well, really 10-to-6 in the tech industry) with long days and real people affected by my work or my mistakes.  Looking for a church community with no guarantees of finding a strong community in a short 12 weeks.</p>

        <p>But I knew God was with me wherever I went.  I had seen Him so active in the Sabbaths that had begun that year, and I was determined to have regular prayer like last summer.  I was in my second read-through of the Bible. </p>

        <p>Adulthood comes with many challenges, I knew that. And challenges came. Times of isolation. Times of doubt. Times of wondering what was the use of my career and skills and all my dreams and ambitions, and wondering what they would all come to.</p>

        <p>But what I never could have dreamed was how much God would use great challenges of that summer, this frontier of freedom, to grow me into an adulthood in my faith.  One in which I could trust him more fiercely, follow him more nearly, and chase Him into callings that would bring him glory and leave me never the same.  Leave me an adult not my own, sustained not on my own power, but owning and entering a faith that could withstand the most grown-up of challenges.</p>

        <p>This summer, which I am about to disclose vulnerably, openly, and honestly here to you, was the journey to denying myself.  A journey to fuller understandings of the depth, the heart, and the suffering of our very Lord himself.</p>

        <hr>

        <p class="quote-looking close-in">If anyone would come after me, let him deny himself and take up his cross daily and follow me. For whoever would save his life will lose it, but whoever loses his life for my sake will save it. For what does it profit a man if he gains the whole world and loses or forfeits his own soul?</p>
        <p class="small-font close-in">Luke 9:23-26</p>

        <p class="quote-looking close-in">He must increase, but I must decrease.
        <p class="small-font close-in">John 3:30</p>

        <p class="quote-looking close-in">Freely you have received; freely give.</p>
        <p class="small-font close-in">Matthew 10:8</p>

        <hr>

        <h2>Denying Myself Safe Churches</h2>

        <p>My prayer ten days after arriving in San Francisco:</p>

        <p class="quote-text">Reveal to me the good works you have for me this summer, Lord.  Grant me the courage to do them.  Help me find a church that is God-fearing and fitting for my situation, and one I may be blessed by and also provide blessing in.</p>

        <p>There were three striking, future-predicting things here:</p>
        <ol>
          <li>I knew there would be good works</li>
          <li>They would require courage</li>
          <li>My church would be a place I could serve</li>
        </ol>

        <p>My friend had told me of a church called City Impact. She said that they were very service-oriented, but in the very roughest part of the city, the Tenderloin neighborhood.  It sounded cool, but scary, and I would have to go there all on my own.  So I tried out three other churches first. But all felt shallow to me or not right for me at that time.  So finally I decided I had to get over my apprehensions, trust God, and at least go once to City Impact.</p>

        <p>A first small step in denying myself and my desires to stay in the comfortable "safe" churches I could've gone to.</p>

        <hr>

        <p class="quote-looking">For God has ordained that our heart should no more find a resting place than did Noah's dove, in order that it may return unto its God, whence it came from... My soul, thou art capable of seeking God; woe be to thee if thou restest in aught less. Raise your soul with this reflection, prove to it that it is immortal and worthy of eternity, and fill it, therefore, with courage.</p>
        <p class="small-font">Francis de Sales, Instruction to the Devout Life</p>

        <hr>

        <h2>Denying My Comfort</h2>

        <p>The church was two blocks into the Tenderloin, and it was sketchy for me.  In two blocks, I probably walked past 15 people who looked to be homeless, and I think a drug deal also.  I thought often about how I might help people in these situations, but pretty much always ended up feeling helpless to do so myself.</p>

        <p>But before long I saw the church and as I walked up the door greeter looked at me real genuinely and said, </p>

        <p>"God bless you, good morning."</p>

        <p>in such a way that I knew he had a real relationship with God.  I knew the Holy Spirit was here.</p>

        <p>Light in a dark place.</p>

        <p>Many people were interacting with each other, friendly.  I sat next to a random person and said hi.  I found out later that six months ago she was a crack addict.  Now she was clean and worshipping God on Sunday morning!</p>

        <p>Afterward the pastor greeted me and told me ways I could get involved.  Soon I was volunteering with Adopt A Building, where groups of 4-8 church members every week would visit an apartment building in the Tenderloin, handing out some food, but more importantly building relationships, having conversations, and praying for and with the residents of that building.</p>

        <p>The building I went to is used by the government to house the homeless in the Tenderloin, part of a Single Room Occupancy hotel program.  We would go through the dimly-lit worn hallways of the formerly ritzy hotel and just knock on closed doors, saying "Hey it's City Impact! Would you like some food?"</p>

        <p>And behind those doors were beautiful souls, frequently alone, glad for company, glad for someone showing that they care.</p>

        <p>We met Gerald (all names in this post changed for privacy) who hadn't talked to his daughter for years, after she had become a prostitute.</p>

        <p>We met Lloyd who was a comfortable middle-class American until his home was invaded by criminals who attacked him and caused paralysis from the waist down and severe PTSD.</p>

        <p>We met Everett who has severe mental illness, sometimes joyfully skipping around the building, sometimes having crippling fear, not leaving his bed.  He asked us to pray against the demons that would come to his door to try to get him back on the streets buying crack again.</p>

        <p>We met Tracy, a man who was saving up money for a sex change operation, who was very open with us about his life: parental abuse as a child, some years spent in prison, formerly practicing witchcraft, and having read the Bible 28 times while in prison but not believing it.  He still appreciated conversation with us though and allowed us to pray with and for him.</p>

        <p>We met Carmelita, who was always joyful and also offered prayer for us.  She also agreed to start and help lead a weekly bible study for fellow residents of the building.</p>

        <p>Lights in a dark place.</p>

        <p>Perhaps flickering, but shown a greater light through our love sourced from Christ.</p>

        <p>Beautiful souls who God dearly loves, who I grew to love and pray earnestly for and get to know as people, as friends.</p>

        <p>Who I never, ever, would have met without first denying my own comfort.</p>

        <hr>

        <p class="quote-looking">I need to stop thinking like the world. 
        <br>And start thinking like a saint. 
        <br>Never shy to suffering, but embracing it. 
        <br>For what God can do with it. 
        <br>Let me follow Christ in that. 
        <br>In that hardest of roads. 
        <br>Yet the lightest of burdens. 
        <br>I want to be underneath the will of God. 
        <br>I need to stop believing that all comfort is blessing from God. 
        <br>And some suffering must be chosen through the Spirit. 
        <br>And maybe when it seems like just for the heck of it. 
        <br>Or the heaven of it.</p>

        <p class="small-font">my Meditation Journal, July 16 2014</p>

        <hr>

        <!-- <div class="page-turn">
            <span ng-click="goToNextPage()" class="next-prev-page">
                Next Page
                <span class="fa fa-angle-right fa-1x"></span>
            </span>
        </div>

      </div>

      <div ng-show="pageNum == 1" class="prose-container">

        <div class="page-turn">
            <span ng-click="goToPrevPage()" class="next-prev-page">
                <span class="fa fa-angle-left fa-1x"></span>
                Prev Page
            </span>
        </div> -->

        <h2>Denying Myself Food</h2>

        <p>At work that summer, a co-worker was keeping Ramadan - fasting every day, from sunset to sundown (which was pretty long in the summer!) both food <i>and</i> water.  Before that, I had only once before been around a friend who was keeping Ramadan, but this was a deeper everyday sort of awareness of my co-worker's Muslim faith and their example of denying of self.</p>

        <p>One week in July, I also noticed the City Impact staff and student interns fast, eating no food for five days straight.</p>

        <p>And then, I heard about the Pastor and founder of City Impact, Rodger, who had fasted for 33 days (yes, actually) when protesting the city to not allow strip clubs near children's schools and a number of other issues.</p>

        <p>All these examples prompted me to think - why don't I fast?  I have entered these other spiritual disciplines that "add" something - prayer, reading the bible, the Sabbath.  But what about this discipline of self-denial?</p>

        <p>I remembered reading Richard Foster's great practical chapter in <i>Celebration of Discipline</i> about fasting that had convinced me to try it a few times before (but never longer than one meal), with these words of Jesus:</p>

        <p class="quote-text">When you fast... (Matthew 6:16)</p>

        <p>If Jesus assumed we would fast, and there were numerous examples of early Christians and Old Testament prophets fasting, and then examples of the believers I admired at City Impact fasting intensely, and additionally even my co-worker of another faith demonstrating more devotion than I had in this way...</p>

        <p>After a few weeks of praying about it, I felt called to fast for five days straight, imitating my brothers and sisters at City Impact.</p>

        <p>I said to myself I would fast everything except water until five days were up or until one of my friends or co-workers were saved.</p>

        <p>My motives weren't perfect, I'll admit.  I don't think we can manipulate God with such a transactional mindset - "I fast, you save my friends' souls."  I also don't think it's good to fast to "one-up" others in their devotions and discipline. </p>

        <p>But I prayed over even this mix of pure and impure motives, and I still felt called to do it. The overwhelming call was that God's work was not done in that summer and fasting would help me focus on what really mattered. <i>Who</i> really matters. Even if my motives were not perfect, extended fasting was something good that God could use greatly.</p>

        <p>And with this calling was a sense He wanted me to further proclaim the gospel in bold ways, and fasting would perhaps grant me that power through the Spirit to follow Jesus in these and other hard ways, those self-denying ways, both inwardly and outwardly, physically and spiritually, personally and socially, less hindered by my desires and my objections to the will of God, and yielding more totally to the Spirit's guiding.</p>

        <p>It indeed was a beautiful set of days where I was empowered to:</p>

        <ul>
          <li>pray with more fervor and life (and also was reminded to pray every time my stomach grumbled)</li>
          <li>witness with a sense of urgency to non-believing friends in the second-to-last week of summer with them</li>
          <li>share the hope of the gospel with my co-workers through boldly showing a sign language worship video and enduring a small reproach from a superior ("it was nice but tone down the religious part of it")</li>
        </ul>

        <p>It was also difficult.  There were so many times I wanted to end it - when I was worried about why my fingers were tingling, or when my stomach was in pain, or when a co-worker made warm gooey brownies and offered me one, or when I didn't want to be embarrassed when asked why I'm not eating lunch with co-workers...</p>

        <p>And I did not see anyone become saved over those days, I had many moments where I was <i>not</i> bold, and I even ended the fast early, after three and a half days, due to a sense of peace about closing it and increasing physical fatigue (never to a point of danger, however).</p>

        <p>But I did see God work something powerful and deep in my heart over those long few days, chasing after serving Jesus and making him known with more fervor and physical discipline than I had ever done before.</p>

        <p>I was objectively closer to Him.  Imitating the Word more fully, with more divine abandon.  When breaking the fast, I wrote, with tears, in my meditation journal:</p>

        <p class="quote-text">I no longer then, labor after my own glory.
        <br>But I live to glorify your Son.
        <br>...your Son who glorifies You.
        <br>For I am in Christ, and Christ is in me.
        <br>And God is in Christ and thus is in me.
        <br>And as Christ brings glory to God,
        <br>so my purpose...
        <br>is to bring glory to Christ.</p>

        <hr>

        <p class="quote-looking">I can feel something tugging at my heart.  Thoughts working themselves out in my mind.  A fervent hope rising in my spirit.  I am longing to fast and see God move.  To pray and hear back from Him.  To fight the spiritual battles that can hold us back if we don't invite God into our circumstances...</p>

        <p class="quote-looking">[This place] has grounded me in these practices of prayer and fasting.  I don't know what I am doing, but I know that I need more of God in my life.  I want Him to know I am serious about seeking Him.</p>

        <p class="quote-looking">I can sense Him near.  I can feel His pleasure when I press my forehead to the floor...telling Him how I love Him and how I need Him more...I know I am where I am supposed to be, enriching my mind with righteousness and truth.  </p>

        <p class="quote-looking">During times of fasting, with a growling stomach and an even hungrier heart for God, a sense of peace and rightness fills me.  But I'm still unsatisfied.  I want to hear from Him.  A specific word.  A certain direction that He wants me to go.  I want Him to speak to me.</p>

        <p class="quote-looking">"Okay God...I know you are real.  That you love me.  That you have saved me.</p>

        <p class="quote-looking">But I want more, and I want to give you more of myself. I'm going to chase after You.  Full-time.  I'm not going to hold anything back."</p>

        <p class="small-font">Rodger Huang, City Impact Founder, in the book Chasing God</p>

        <hr>

        <!-- <div class="page-turn">
            <span ng-click="goToNextPage()" class="next-prev-page">
                Next Page
                <span class="fa fa-angle-right fa-1x"></span>
            </span>
        </div>

      </div>

      <div ng-show="pageNum == 2" class="prose-container">

        <div class="page-turn">
            <span ng-click="goToPrevPage()" class="next-prev-page">
                <span class="fa fa-angle-left fa-1x"></span>
                Prev Page
            </span>
        </div> -->

        <h2>Denying Myself Money</h2>

        <p>But God wasn't done with only teaching me about fasting that summer.</p>

        <p>The very day I broke the fast another discipline was awakened.  It was the day of the City Impact Conference, where the little Tenderloin church hosted almost 2,000 people in a day spent both worshipping and directly serving the Tenderloin community.</p>

        <p>At the end of the conference, they asked for sponsors for children at their school serving the Tenderloin - $38 a month.</p>

        <p>A school that was an opportunity beyond what those kids and families could ask for.  A light in a dark place.</p>

        <p>I initially said - "No - I'm just a college student.  I am over $50,000 in debt.  I make a small amount during the school year, but I should use that to pay off loans..."</p>

        <p>But then the Lord convicted me with memories of his faithfulness before:</p>

        <p>Just over a year earlier, after reading about tithing and giving in the Bible, I realized I had given nothing over my life of my "earnings" - from mowing lawns to allowances and such, I felt convicted that I should have tithed at least 10% of that.</p>

        <p>So I estimated that over my life thus far, $2000 would probably cover (and likely far exceed) a baseline 10% of everything I had "earned" so far in my life.  So I gave that amount (most of my bank account at the time) to my two home churches.  My parents found out and thought it somewhat reckless and unintelligent financially (rightly so!).  But I trusted God - that however far he'd lead me to give, he would never desert me and would continue to provide as he always has done.</p>

        <p>And that came true powerfully, I realized as I sat there at the conference.  Being financially honest here - I was making around $18,000 (before taxes) that summer for 12 weeks of work.  CRAZY for a first internship.  God had provided more than I <i>ever</i> could have predicted or was expecting.</p>

        <p>And so, even with mounting loans, I yielded to God and the Spirit provided me that moment a beautiful plan:</p>

        <p>I would sponsor a child, and rather than taking away money from what I could save up for loans, I would fast one lunch every week (about $10 usually for food on my college campus). Thus I could both save money to give to a child in the Tenderloin for their education <i>and</i> preserve my discipline of fasting by practicing it at least once a week.  It also preserved my meaningful connection to contributing to City Impact's beautiful mission, even after leaving the city. </p>

        <p>So God expanded my notions of, and preserved for the future, these disciplines of self-denial that he had taught me that summer. Disciplines taught through people at City Impact, through the Bible, through prayer, and through circumstances that I delightedly discovered he was shaping for me to serve Him and yield to Him in a greater (and most challenging!) way.</p>

        <hr>

        <p class="quote-looking close-in">What does this mean - poverty being a good work?  I can give the firstfruits of my salary to the Lord, but no - not stopping there...being with 'the least of these' and going against the excess of everything the world sets up for us to do...grant me a vision of how I can serve you wholeheartedly.</p>
        <p class="small-font close-in">my Meditation Journal, June 14 2014</p>

        <p class="quote-looking close-in">The righteous are willing to disadvantage themselves to advantage the community.  The wicked are willing to disadvantage the community to advantage themselves.</p>
        <p class="small-font close-in">Bruce Waltke, quoted by the speaker at the City Impact Conference</p>

        <p class="quote-looking close-in">It is impossible to want to do it and yet not to do it.  To deal with the word of Jesus otherwise than by doing it is to give him the lie.  It is to deny the Sermon on the Mount and to say No to his word.</p>
        <p class="small-font close-in">Dietrich Bonhoeffer, The Cost of Discipleship</p>

        <hr>

        <h2>The Importance of Example</h2>

        <p>Over and over, I found these disciplines were inspired by others' example. I didn't know what they were until I saw or heard about them and recognized them as wise ways of living for God, Spirit-filled ways to grow, and true ways of responding to Christ's love.</p>

        <p>I hope that this blog post could just maybe be that for you.
        <br>This post not being to brag of things I have done.
        <br>This post only to give glory to God for the good gifts of fasting, almsgiving, and the kind of open and honest and unafraid prayer that changes us and compels us to action and life-change.</p>

        <p>All these true life stories of mine, shared to give praise to his Name for all the fruits that have grown out of these disciplines in my life.</p>

        <p>I want to clarify also and urge you to NOT imitate me work-for-work.  God has a beautiful plan for you that I encourage you to enter into.  One that certainly, absolutely guaranteed, involves denying yourself, involves fasting, involves giving away more money than you are comfortable with...but also involves all these things bringing you into a knowledge and friendship with God through Jesus like never before.</p>

        <p>I want to encourage and equip you in this by mentioning two of the same guides I had:</p>

        <ul>
          <li>Richard Foster's chapter on Fasting in <i>Celebration of Discipline</i> (Chapter 4). This chapter was immensely helpful for knowing why we fast, how to fast safely and smartly, and fasting in accordance with the Scriptures.  There is also good advice out there online on fasting, but this was my tried and true guide and inspiration.</li>
          <li>C.S. Lewis's words from Mere Christianity on giving, which I have been convicted and encouraged by many times and will just simply quote here:</li>
        </ul>

        <p class="quote-text">I do not believe one can settle how much we ought to give. I am afraid the only safe rule is to give more than we can spare. In other words, if our expenditure on comforts, luxuries, amusements, etc, is up to the standard common among those with the same income as our own, we are probably giving away too little. If our charities do not at all pinch or hamper us, I should say they are too small. There ought to be things we should like to do and cannot do because our charitable expenditure excludes them.</p>
        
        <p class="quote-text small-font">C.S. Lewis, Mere Christianity, Book 3, Chapter 3 - "Social Morality"</p>

        <p>Examples and guides are so important in these disciplines - not only the Holy Spirit and Scripture, but also books from wise and experienced authors and advice from wise and experienced friends.</p>

        <p>Even though fasting and giving should not be done for attention and done not letting "your left hand know what your right hand is doing", it doesn't mean that you are alone, it doesn't mean you shouldn't ask questions to those you trust, and it doesn't mean you can't rely on and chase after the wisdom and example of others!  Don't go it alone!</p>

        <hr>

        <p class="quote-looking">...the constant propaganda fed us today convinces us that if we do not have three large meals each day, with several snacks in between, we are on the verge of starvation. This, coupled with the popular belief that it is a positive virtue to satisfy every human appetite, has made fasting seem obsolete.</p>

        <p class="quote-looking">We cover up what is inside us with food and other good things, but in fasting these things surface. If pride controls us, it will be revealed almost immediately.  Anger, bitterness, jealousy, strife, fear - if they are within us, they will surface during fasting.</p>

        <p class="quote-looking">Fasting reminds us that we are sustained "by every word that proceeds from the mouth of God" (Matt. 4:4).  Food does not sustain us; God sustains us.</p>

        <p class="quote-looking">Therefore, in experiences of fasting we are not so much abstaining from food as we are feasting on the word of God.</p>

        <p class="small-font">Richard Foster, Celebration of Discipline</p>

        <hr>

        <h2>Wholehearted</h2>

        <p>My last Sunday at City Impact that summer, I told the pastor, Christian, that it was my last Sunday.  To my surprise, he asked if I was okay with being prayed over by the church.  I said yes.</p>

        <p>It was a beautiful and perfect prayer - the kind you know that has to come from the Holy Spirit speaking through people because they spoke so directly to my needs, my concerns, and all I was experiencing so that I was filled with joy and peace.</p>

        <p>They laid their hands on me, sending me out, back to Pittsburgh. It was a confirmation of all that I had endured, all that I had suffered that summer, and a foreshadowing prayer of all that God would continue to do through me.</p>

        <p>It also mirrored a prayer from the early part of the summer that was astonishingly predictive of all that I would do and face - a prayer that I read now with trusting faith-filled fear and gratitude:</p>

        <p class="quote-text">God let me serve you wholeheartedly...
        <br>For without you, it's not that I have less - I have nothing!
        <br>I desire greatly to bear fruit, so I must also desire greatly to remain in You, to have your words remain in me, your love to remain in me, by keeping your commands, so my joy may be complete, to be able to lay my life down for a friend - so much, to serve you!</p>

        <p class="quote-text">You chose me, may I show myself to be your disciple.  Let me bear the fruit that will last.  Help me become more and more unlike the world.</p>

        <p class="quote-text">Help me become more and more like You, Jesus.
        <br>Willing to be rejected, willing to be spit on, willing to be forgotten and alone.
        <br>Help me become more and more unashamed, vulnerable.
        <br>Speaking truth, putting my heart out there, the good and the bad parts of me, so that all could see the triumph and glory of Your Name.</p>

        <p class="quote-text small-font">&nbsp;my Meditation Journal, June 12 2014</p>

        <hr>

        <h2>The Imitation of Christ</h2>

        <p>This whole series was about getting to know God like a friend, and the secret of it all is that it all comes down to imitating the life of Jesus Christ, through whom is the only way to truly and fully and intimately know God.</p>

        <p>There is a book I began reading that summer in San Francisco, as a devotional while eating breakfast each morning, that I have never quite stopped reading since, for it is full of encouragement and truth.  I want to precede my conclusion with an excerpt that I hope will encourage and speak truth to you, supplementing these thoughts and stories of discipline and denying self with convicting, powerful, and truth-filled words:</p>

        <p class="quote-text">Jesus hath many lovers of His heavenly kingdom, but few bearers of His Cross. He hath many seekers of comfort, but few of tribulation. He findeth many companions of His table, but few of His fasting. All desire to rejoice with Him, few are willing to undergo anything for His sake. Many follow Jesus that they may eat of His loaves, but few that they may drink of the cup of His passion. Many are astonished at His Miracles, few follow after the shame of His Cross. Many love Jesus so long as no adversities happen to them. Many praise Him and bless Him, so long as they receive any comforts from Him. But if Jesus hide Himself and withdraw from them a little while, they fall either into complaining or into too great dejection of mind.</p>

        <p class="quote-text">But they who love Jesus for Jesus' sake, and not for any consolation of their own, bless Him in all tribulation and anguish of heart as in the highest consolation. And if He should never give them consolation, nevertheless they would always praise Him and always give Him thanks.</p>

        <p class="quote-text">Oh what power hath the pure love of Jesus, unmixed with any gain or love of self! Should not all they be called mercenary who are always seeking consolations? Do they not prove themselves lovers of self more than of Christ who are always seeking their own gain and advantage? Where shall be found one who is willing to serve God altogether for nought? </p>

        <p class="quote-text">Rarely is any one found so spiritual as to be stripped of all selfish thoughts, for who shall find a man truly poor in spirit and free of all created things? A man may give away all his goods, yet that is nothing; and if he do many deeds of penitence, yet that is a small thing; and though he understand all knowledge, yet that is afar off; and if he have great virtue and zealous devotion, yet much is lacking unto him, yea, one thing which is the most necessary to him of all. What is it then? That having given up all things besides, he give up himself and go forth from himself utterly, and retain nothing of self-love; and having done all things which he knoweth to be his duty to do, that he feel that he hath done nothing.</p>

        <p class="quote-text">When ye have done all things that are commanded you, say, we are unprofitable servants. Then may he be truly poor and naked in spirit, and be able to say with the Prophet, As for me, I am poor and needy. Nevertheless, no man is richer than he, no man stronger, no man freer. For he knoweth both how to give up himself and all things, and how to be lowly in his own eyes.</p>

        <p class="quote-text">It is not in the nature of man to bear the cross, to love the cross, to keep under the body and to bring it into subjection, to fly from honours, to bear reproaches meekly, to despise self and desire to be despised, to bear all adversities and losses, and to desire no prosperity in this world. If thou lookest to thyself, thou wilt of thyself be able to do none of this; but if thou trustest in the Lord, endurance shall be given thee from heaven, and the world and the flesh shall be made subject to thy command. Yea, thou shalt not even fear thine adversary the devil, if thou be armed with faith and signed with the Cross of Christ.</p>

        <p class="quote-text">When thou hast come to this, that tribulation is sweet and pleasant to thee for Christ's sake, then reckon that it is well with thee, because thou hast found paradise on earth.</p>

        <p class="quote-text">Know thou of a surety that thou oughtest to lead the life of a dying man. And the more a man dieth to himself, the more he beginneth to live towards God.</p>

        <p class="quote-text">For our worthiness and growth in grace lieth not in many delights and consolations, but rather in bearing many troubles and adversities. </p>

        <p class="quote-text">If indeed there had been anything better and more profitable to the health of men than to suffer, Christ would surely have shown it by word and example. For both the disciples who followed Him, and all who desire to follow Him, He plainly exhorteth to bear their cross, and saith, If any man will come after Me, let him deny himself and take up his cross, and follow Me. So now that we have thoroughly read and studied all things, let us hear the conclusion of the whole matter. We must through much tribulation enter into the kingdom of God.</p>

        <p class="quote-text small-font">Thomas &agrave; Kempis, The Imitation of Christ</p>

        <hr>

        <h2>Getting to know God Like a Friend;<br>Beginning and No End</h2>

        <p>For now, this is the last phase of this series of posts detailing my journey of getting to know God like a friend.</p>

        <p>With the disciplines of <a href="./got-to-know-god-pt-1.html" target="_blank">consistently reading Scripture</a>, <a href="./got-to-know-god-pt-2.html" target="_blank">true prayer</a>, <a href="./journey-to-the-sabbath.html" target="_blank">keeping the Sabbath</a>, and self-denial in fasting and giving I have been given so much that is still growing in me, still a struggle to continue being disciplined in, and still bearing fruit in new and varied ways.</p>

        <p>All of these, especially self-denial, are things that I will surely never master on this Earth, in the way that my Master and friend has.  But I also sense a peace about ending these posts with a definite ending here, because I feel I am still in this "phase" of denying self.  It is a discipline surely so foreign to mine and our modern eyes that I often lose grip of what I have already learned in it, though I still fast weekly and give money regularly and with abandon.</p>

        <p>So I end this series here still very much as a delighted beginner in all these things, though wishing to share with you portions of the short beginnings of a beautiful story. A story that surely stretches out into the dimly-appearing though surefire hope of an eternal light appearing more manifest each step we take towards Him.  Our friend guiding us closer and closer through tough yet trodden steps of faith and discipline, day by friend-filled day.</p>

        <p>To God be the glory.  Thank you Jesus.  My life is yours, friend.</p>

        <br>
        <br>

      <div>

    </div>

  </div>

  <div id="entry-footer" ng-include="'footer.html'"></div>

  <!-- SCRIPTS -->
  <script src="js/lib/jquery-2.1.4.min.js"></script>
  <script src="js/lib/jquery-ui.min.js"></script>
  <script src="js/lib/angular-1.4.6.min.js"></script>
  <script src="js/blog-map.js"></script>
  <script src="js/blog-entry.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47730913-3', 'auto');
    ga('send', 'pageview');

  </script>

</body>
